.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
*google
**logs/
**config/
**plugins/
**.env
**kaggle/
config.py
**__pycache__/
.history
serving_dir
.ipynb_checkpoints/
*.tf
google-cloud-sdk/
